ul{
    display: flex;
    padding: 0px;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 800px;
    margin: auto; */
    position: relative;
    /* top: 50px; */
}

li{
    list-style-type: none;
    /* padding: 5px; */
    padding-bottom: 10px;
    padding-top: 10px;
}

li:first-child, li:last-child{
    font-style: italic;
}

a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 1px solid black;
    font-size: 14pt;
    letter-spacing: 3px;
}

a:hover{
    color: red;
    background-color: black;
}